<appSettings>
  <!--<add key="ClientId" value="bcd82758-71f5-44ae-b7d2-70d9babb489b" />
  <add key="ClientSecret" value="vFQkQFeeBy+1D+nOWzfVDKieiIpuuQcon0JpuU1FG5A=" />
  <add key="AutoApproveSites" value="false" />
  <add key="SPHost" value="https://kmpdev.sharepoint.com/sites/tideway" />
  <add key="SupportTeamNotificationEmail" value="krunal@codetails.co.uk" />
  <add key="TenantAdminUrl" value="https://kmpdev-admin.sharepoint.com" />
  <add key="HostedAppHostNameOverride" value="localhost:44311" />
  <add key="EmailFailureSiteTemplate" value="Resources/EmailContent/FailEmail.html" />
  <add key="EmailNewSiteTemplate" value="Resources/EmailContent/NewSiteEmail.html" />
  <add key="RepositoryManager_connectionString" value="https://kmpdev.sharepoint.com/sites/tideway" />
  <add key="MasterTemplateProvider_connectionString" value="https://kmpdev.sharepoint.com/sites/tideway" />
  <add key="ProvisioningProviders_connectionString" value="https://kmpdev.sharepoint.com/sites/tideway" />
  <add key="ProvisioningConnectors_connectionString" value="https://kmpdev.sharepoint.com/sites/tideway" />-->
</appSettings>

