<modulesSection>
  <Modules>
    <!-- HOSTING ALL DATA IN SHAREPOINT-->
    <!-- NOTE: connectionString is empty, use appsettings RepositoryManager_connectionString to store URL -->
    <Module name="RepositoryManager"
            type="Provisioning.Common.Data.SiteRequests.Impl.SPSiteRequestManager, Provisioning.Common"
            connectionString=""
            container="" />
    <!-- NOTE: connectionString is empty, use appsettings MasterTemplateProvider_connectionString to store URL -->
    <Module name="MasterTemplateProvider"
          type="Provisioning.Common.Data.Templates.Impl.SPSiteTemplateManager, Provisioning.Common"
          connectionString=""
          container="" />
  
    <Module name="ProvisioningProviders"
            type="OfficeDevPnP.Core.Framework.Provisioning.Providers.Xml.XMLFileSystemTemplateProvider, OfficeDevPnP.Core"
            connectionString=""
            container="SiteTemplatesData" />
    <Module name="ProvisioningConnectors"
            type="OfficeDevPnP.Core.Framework.Provisioning.Connectors.SharePointConnector, OfficeDevPnP.Core"
            connectionString=""
            container="SiteTemplatesData" />
    <!-- NOTE:  Enable this to generate Safe URLS and to disable users from specifying URLS manually-->
    <!--<Module name="SiteUrlProvider"
              type="Provisioning.Common.Data.SiteUrl.Impl.SafeTitleUrlProvider, Provisioning.Common"
              connectionString=""
              container=""/>-->
    <Module name="AppSettingsManager"
            type="Provisioning.Common.Data.AppSettings.Impl.SPAppSettingsManager, Provisioning.Common"
            connectionString=""
            container=""/>

    <Module name="MetadataManager"
          type="Provisioning.Common.Data.Metadata.Impl.SPMetadataManager, Provisioning.Common"
          connectionString=""
          container=""/>
  </Modules>
</modulesSection>

